html{
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px */
  width: 100%;

}
body{
  width: 100%;
}


*,*:before,*:after{
  box-sizing: inherit;
}

/* ***************** */

/* font-family: 'Rubik', sans-serif; */
.contenedor{
  width: 100%;
}
span,input{
  font-family: 'Rubik', sans-serif;
}
